.App {
  text-align: center;
  display: block;
  margin-top: 100px;
  background-color: grey;
  min-height: 500px;
}


body {
  padding: 50px;
  color: black;
  min-height: 100vh;
  background: black;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
  background: url(https://www.spica.com/steam/dynamic/W1siZmYiLCIvaG9tZS9yYWlscy9jbXMvcHVibGljL3NpdGVzLzVkNjgzY2JkMjRkMzVmMTE0NzdmZWQwZi9jb250ZW50X2VudHJ5NWQ4YjIxNzUyNGQzNWYxMTQ3N2ZmNjAwLzYwNjQxZWEwMjRkMzVmMTZmMmRjMGMyZi9maWxlcy9TcGljYUJsb2dfRXZlcnl0aGluZy1hYm91dC1hLXRvLWRvLWxpc3QuanBnIl0sWyJwIiwidGh1bWIiLCIxMTUweDY2MCMiXSxbInAiLCJjb252ZXJ0IiwiLXF1YWxpdHkgODIgLXN0cmlwIC1pbnRlcmxhY2UgUGxhbmUiXV0/4f36fc948c6dafc7/SpicaBlog_Everything-about-a-to-do-list.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}


.form1 {
  padding: 50px;
}

.inp_ok{
  border-color: #FFCD04;
  width: 1000px;
  height: 40px;
}

.inp_error{
  border-color: red;
  width: 1000px;
  height: 40px;
}



#h31{
  margin-right: 1070px;
  margin-bottom: 0px;
}


.div1{
  display: flex;
  justify-content: space-evenly;
  
  
  
}


#inp3{
  display: flex;
  justify-content:flex-end;
  margin-right: 370px;
  position:absolute;

}



#inp3>input{
  width: 20px;
  height: 20px;
}
#inp3>h4{
  margin-top: 5px;
}

 
.tbl1{
  width: 1600px;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid white;
  
}


#btn2{
  background-color: white;
  border: 1px solid white;
}


#inp2{
  width: 20px;
  height: 20px;
}

#td1{
  display: flex;
}

.tbl1>tr{
  border-collapse: collapse;
}


.tbl1>thead>td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
.tbl1>thead>tr:hover td {
  background: #F6F6F6;
}

#h222{
  font-family: cursive;
}

.label1{
  display: flex;
  color: red;
  margin-left: 300px
}

.hideLabel{
  display: None;
}

.taskHidden{
  display: none;
}

#inputter{
  width: clamp(150px,100%,1000px);
}

.btn1{
  color:aliceblue;
  background-color:#008392;
  height: 45px;
  border-color: #008392;
  margin-left: 35px;
  
}



.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 300px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #008392;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
